@using SSY_Project.Models.Entity
@model List<data_ecstutar>
@{
    ViewBag.Title = "CustomerList";
    Layout = "~/Views/Shared/_ProjectLayout.cshtml";
}

<div class="mt-5 card">
    <div class="card-header">
        <h3 class="card-title">ECSTutar Listesi</h3>
    </div>
    <!--<br />-->
    @*<div class="col-11 row d-flex justify-content-center">
            <a class="btn btn-primary" href="">BUTTON1</a> &nbsp;
            <a class="btn btn-primary" href="">BUTTON2</a> &nbsp;
            <a class="btn btn-primary" href="">BUTTON3</a> &nbsp;
            <a class="btn btn-primary" href="">BUTTON4</a> &nbsp;

        </div>*@
    <!--<hr />-->
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>


                    <th>TUTAR</th>
                    <th>STOK KODU</th>
                    <th>MALIN CINSI</th>
                    <th>KOD1</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var total in Model)
                {
                    <tr>

                        <td>@total.TUTAR</td>
                        <td>@total.STOKKODU</td>
                        <td>@total.MALINCINSI</td>
                        <td>@total.KOD1</td>

                    </tr>


                }
            </tbody>

        </table>
    </div>
    <!-- /.card-body -->
</div>



