
@{
    ViewBag.Title = "AddOrder";
    Layout = "~/Views/Shared/_ProjectLayout.cshtml";
}

<div class="container" style="height:73vh;">
    <div style="height:100%" class="d-flex flex-column justify-content-center">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <img src="/Image/logoanasayfa2.png">
        </div><div class="mt-1 d-flex flex-column justify-content-center align-items-center">
                  <h2>SİPARİŞ EKLEME SAYFASI</h2>
            <h4><i class="fas fa-cogs text-warning"> HAZIRLANIYOR... </i></h4>
        </div>

    </div>

</div>


