
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ProjectLayout.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <script src="~/QR/JavaScript.js"></script>
    <script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
</head>
<body>
    <video id="preview" style="width: 500px;height: 500px;"></video>
    <br>
    <select id="cameras"></select>
</body>
</html>