@using SSY_Project.Models.Entity
@model List<Data_HareketsizUrun>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ProjectLayout.cshtml";
}

<div class="mt-5 card">
    <div class="card-header">
        <h3 class="card-title">Hareketsiz Ürünler Listesi</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped" style="text-align:center;">
            <thead>
                <tr>

                    <th>MALIN CİNSİ</th>
                    <th>SATIŞ FİYATI</th>
                    <th>SON SATIŞ TARİHİ</th>
                    <th>KOD5</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var data_hareketsizurun in Model)
                {
                    var date = Convert.ToDateTime(data_hareketsizurun.KARTINACILMATARIHI);
                    <tr>

                        <td>@data_hareketsizurun.MALINCINSI</td>
                        <td>@data_hareketsizurun.SATISFIYATI1 ₺</td>
                        <td>@date.ToShortDateString()</td>
                        <td>@data_hareketsizurun.KOD5</td>
                    </tr>

                }
            </tbody>

        </table>
    </div>
    <!-- /.card-body -->
</div>

