@using SSY_Project.Models.Entity
@model List<Data_CariList>
@{
    ViewBag.Title = "CustomerList";
    Layout = "~/Views/Shared/_ProjectLayout.cshtml";
}

<div class="mt-5 card">
    <div class="card-header">
        <h3 class="card-title">Cari Listesi</h3>
    </div>

    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>FİRMA ADI</th>
                    <th>ÜNVAN</th>
                    <th>BAKİYE</th>
                    <th>KOD5</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model)
                {

                    <tr>
                        <td>@customer.FIRMAADI</td>
                        <td>@customer.UNVAN</td>
                        <td>@customer.BAKIYE ₺</td>
                        <td>@customer.KOD5</td>

                        <td>
                            <div class="dropdown-left">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Actions
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="/Customer/CustomerInfo/@customer.IND">Cari Bilgileri</a>
                                    <a class="dropdown-item" href="/Customer/OldBillofSale/@customer.IND">Eski Satış Faturaları</a>
                                    <a class="dropdown-item" href="/Customer/LastCollection/@customer.IND">Eski Tahsilatlar</a>
                                    <a class="dropdown-item" href="#">Extre </a>


                                </div>
                            </div>

                        </td>

                    </tr>


                }
            </tbody>

        </table>
    </div>
    <!-- /.card-body -->
</div>



