@using SSY_Project.Models.Entity
@model List<data_satfat>
@{
    ViewBag.Title = "CustomerList";
    Layout = "~/Views/Shared/_ProjectLayout.cshtml";
}

<div class="mt-5 card">
    <div class="card-header">
        <h3 class="card-title">Satış Faturaları Listesi</h3>
    </div>
    <br />
    <div class="mt-3 row d-flex justify-content-center">
        <a class="btn btn-primary" href="/Customer/Index"><i class="fas fa-users"></i> Cari Listesi</a> &nbsp;
        <a class="btn btn-primary" href="/Customer/CustomerDetail/@ViewBag.id"><i class="fas fa-users"></i> Cari Detayı</a> &nbsp;
        <a class="btn btn-primary" href="/Customer/CustomerInfo/@ViewBag.id"><i class="fas fa-info"></i> Cari Bilgi</a> &nbsp;
        <a class="btn btn-primary" href="/Customer/LastCollection/@ViewBag.id"><i class="fas fa-edit "></i> Eski Tahsilatlar</a> &nbsp;
    </div>
    <hr />
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>TARIH</th>
                    <th>BELGE NO</th>
                    <th>TUTAR</th>
                    <th>DETAY</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model)
                {
                    <tr>
                        <td>@customer.TARIH</td>
                        <td>@customer.BELGENO</td>
                        <td>@customer.TUTAR</td>

                        <td><a class="btn btn-primary " href="/Report/Details/@customer.data_satfatdet.EVRAKNO"><i class="fas fa-file"></i> Detay</a></td>


                    </tr>


                }
            </tbody>

        </table>
    </div>
    <!-- /.card-body -->
</div>



